<%#= form_for @user, url: user_path(@user) do |f| %>
<%= form_for @user, url: update_password_path(@user) do |f| %>
<div>
  <%= f.label :old_password %>
  <%= f.password_field :old_password %>
</div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <%= f.submit %>
<% end %>
