<%= @post.errors.full_messages.join(", ") %>
<%# if @question is persisted then the `form_for` helper will make the action submit to question_path(@question) and it will make the HTTP request PATCH.
form_for will also prepopulate the fields with the data fetched from the database%>
<%= simple_form_for @post do |f| %>
<div>
  <%= f.collection_select :category_id, Category.order(:title), :id, :title %>
</div>
<div>
  <%= f.input :title, placeholder: "Title of your post" %>
</div>
  <div>
  <%= f.input :title, placeholder: "Body of your post" %>
  </div>
  <div>
    <%= f.association :tags, {collection: Tag.all, as: :check_boxes} %>
  </div>
  <div>
  <%= f.file_field :avatar %>
</div>
<p>
  <label>
    <%= f.check_box :remove_avatar %>
    Remove avatar
  </label>
</p>

  <%= f.submit({class: "btn btn-primary"}) %>
<% end %>
